*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 30px 20px;
    z-index: 10;
}
header.abajo{
    background: #fff;
    padding: 15px 20px;
}
header .logo{
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
    margin-right: auto;
    margin-left: 100px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 100px;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
}
header ul li a{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}
.doc:hover {
    opacity: 1;
  }
  
.doc{
    opacity: 0.6;
}
.zona1 {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(194, 149, 237);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;  /*Esto es si lo queremos centrado. .. Desp vemos como seria nuestra idea*/
    /*justify-content: flex-start;*/
    align-items: center;
    
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px) scale(0.8);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .zona1 h1 {
    font-size: 34px;
    color: white;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
  }
  
  .zona1 p {
    font-size: 16px;
    color: white;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    padding-top: 20px;
    animation: fadeIn 1s ease-in-out;
  }

  /* #portada{
    margin-top: -260px;
  }
  */

  @import url('https://fonts.googleapis.com/css?family=Lobster+Two');

  .portada h1 {
      font-size: 5rem;
      text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
      color: white;
  }
  
  .portada {
      position: relative;
      z-index: 0;
      background-color: rgb(194, 149, 237);
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      overflow: hidden;
  }

  .imagen_portada {
    position: absolute;
    top: 100px; /* Ajusta la posición verticalmente */
    left: 120px; /* Ajusta la posición horizontalmente */
    width: 200px; /* Ajusta el ancho de la imagen */
    height: auto; /* La altura se ajusta automáticamente proporcionalmente al ancho */
  }

  .imagen_portada2 {
    position: absolute;
    top: 450px; /* Ajusta la posición verticalmente */
    right: 70px; /* Ajusta la posición horizontalmente */
    width: 200px; /* Ajusta el ancho de la imagen */
    height: auto; /* La altura se ajusta automáticamente proporcionalmente al ancho */
  }

  .imagen_portada img,
  .imagen_portada2 img {
    max-width: 200px;
    height: auto;
    display: flex;
  }
  
  .pulse {
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 30rem;
      
  }

    circle {
        fill: #7229aa;
        transform: scale(0);
        opacity: 0;
        transform-origin: 50% 50%;
        animation: pulse 2s cubic-bezier(.5,.5,0,1);
        
        &:nth-child(2) {
            fill: #7229aa;
            animation: pulse 2s 0.75s cubic-bezier(.5,.5,0,1);
        }
        
        &:nth-child(3) {
            fill: #7229aa;
            animation: pulse 2s 1.5s cubic-bezier(.5,.5,0,1);
        }

        &:nth-child(4) {
            fill: #7229aa;
            animation: pulse 2s 2.25s cubic-bezier(.5,.5,0,1);
        }

        &:nth-child(5) {
            fill: #7229aa;
            animation: pulse 2s 3.0s cubic-bezier(.5,.5,0,1);
        }
        
    }
      
  
  
  @keyframes pulse {
      
      25% {
          opacity: 0.4;
      }
      
      100% {
          transform: scale(1);
      }
      
  }

    
  
header.abajo .logo,
header.abajo ul li a{
    color: #000;
}

.introduccion{
    height: 200px;
    background-color: rgb(214, 202, 225);
    margin-right: 19%;
    margin-left: 19%;
    max-width: 720px;
    text-align: center;
    margin: auto;
     
}
.zona2{
    /* height: 400px; */
    background-color: rgb(214, 202, 225);
    width: 100%; 
    padding-top: 40px;
}
.zona2 p{
    text-align: center;
    color: #000;
    line-height: 1.3;
}

.zona2 h2{
    font-family: helvetica;
    text-align: center;
    font-size: 28px;
}

.zona2 p{
    font-family: helvetica;
}

.zona2 h6{
    font-family: helvetica;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: lighter;
    font-size: 12px;
}
.descripcion{
    color: white;
    font-family: helvetica;
    margin-top: 30px;
    margin-left: 10px;
    opacity: 0.9;
}


.flecha {
    position: absolute;
    bottom: 32px;
    left: 32px;
}

.flecha_abajo {
    height: 36px;
    width: 36px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-width: 1.5px;
    border-right-width: 1.5px;
    border-bottom-width: 1.5px;
    border-left-width: 1.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(255, 255, 255, 0.3);
    border-right-color: rgba(255, 255, 255, 0.3);
    border-bottom-color: rgba(255, 255, 255, 0.3);
    border-left-color: rgba(255, 255, 255, 0.3);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: var(--white);
    font-size: 11px;
    position: relative;
}

.flecha_abajo_1 {
    width: 1.5px;
    height: 14px;
    position: absolute;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
    animation-name: DownButton_buttonOpacity__lGTbw;
    background-color: rgb(255, 255, 255);
}
.icono_flecha {
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
    animation-name: DownButton_ArrowMove__3uhzY;
}
.icono_flecha::after, .icono_flecha::before {
    content: "";
    bottom: 13px;
    width: 6px;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
}
.icono_flecha::before {
    left: 12px;
    transform: rotate(40deg);
}
.icono_flecha::after {
    right: 12px;
    transform: rotate(-40deg);
}
.icono_flecha::after, .icono_flecha::before {
    content: "";
    bottom: 13px;
    width: 6px;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    position: absolute;
}
.flecha_abajo {
    color: var(--white);
    font-size: 11px;
}
.flecha {
    color: var(--white);
}

.flecha p {
    font-family: helvetica;
    opacity: 0.9;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h4{
    color: #000;
    font-family: helvetica;
    font-weight: normal;
}

.container {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr; /* Crea tres columnas de igual ancho */
    grid-gap: 4%; /* Espacio entre las columnas */
    max-width: 1400px;
    margin: 0 auto; 

}

.column {
    height: 470px; /* Altura de las columnas */
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}
.presentacion{
    color: white;
    font-family: helvetica;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;

}
.img{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 330px;
    margin-top: 40px;
}
.img img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 100%; /* Ajusta la altura automáticamente para mantener la proporción */
    border-radius: 10px;
  }


.container_x{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr; /* Crea tres columnas de igual ancho */
    grid-gap: 4%; /* Espacio entre las columnas */
    scroll-margin-top: 200px;
    max-width: 1400px;
    margin: 0 auto; 
}

.column_x{
    height: 610px; /* Altura de las columnas */
    padding-left: 15%;
    padding-right: 15%;
}

.img_x{ /* contenedor */
    border-radius: 10px;
    height: 290px;

    /* tomi
    height: 300px;
    width: 350px; /* el cambio en todas para mantener proporciones  */

    margin-top: 160px;
    position: relative;
}

.img_x img { /* imagen */
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 100%; /* Ajusta la altura automáticamente para mantener la proporción */
    border-radius: 10px;
  }

.bod{
    padding-left: 70px;
    padding-right: 70px;
    background-color: black;
}

.zona8 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.representacion {
    text-align: center;
    height: 300px;
}

.representacion img {
    display: block;
    margin: 0 auto;
    width: 50%; 
    height: auto;
    margin-bottom: 40px;
    margin-top: 60px;
}
.refe{
    position: relative;
    top: -90px;
    margin-left: 50px;
}
.refe a{
    color: white;
    text-decoration: none;
    font-family: helvetica;
    top: -60px;
}
.refe:hover {
    opacity: 1;
  }
  
.refe{
    opacity: 0.6;
}

#scrolly_fotos {
    position: relative;
    background-color: #e6e6c2;
    padding: 1rem;
  }
  
  #steps_container {
    position: relative;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
  }
  /* Las fotos por default están ocultas */
  .foto {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 1000px;
  transition: opacity 0.5s ease-in-out;
}

.is_visible .foto {
  opacity: 1;
}
  #fixed_container {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    transform: translate3d(0, 0, 0);
    background-color: #caa9a9;
    z-index: 0;
    height: 100vh;
  }
  
  .step {
    margin: 0 auto 2rem auto;
    color: #fff;
    height: 100vh;
    border: 1px solid red; // para debuggear
  }
  
  .step:last-child {
    margin-bottom: 0;
  }
  
  
  .step p {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.7);
  }
  